body {
  background-color: #F8F8F8 !important;
}

.submitbtnLog{
  position: absolute !important;
  width: 129px !important;
  height: 40px !important;
  margin-top: 10px !important;
  padding-left: 40px !important;
  font-family: 'Poppins' !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 13px !important;
  line-height: 19px !important;
  /* or 146% */
  border: none !important;
  display: flex !important;
  align-items: center !important;
  text-align: center !important;
  color: #FFFFFF !important;
  background: #7041EE !important;
  border-radius: 26px !important;
  float: left !important;
}

.logoutinput{
  margin-bottom: 10px !important;
  left: 0% !important;
  margin-left: 0% !important;
}
